body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
}

/* Heading */
.big-heading {
  font-weight: Bold;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.section-heading {
  font-weight: Bold;
  font-size: 3rem;
}

/* Title Section */
#title {
  text-align: left;
}
/* Sections */
#press.colored-section{
  background-color: #ef8172;
}
#testimonials.colored-section{
  background-color: #ef8172;
  color: #fff;
}
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: #fff;
  color: black;
}
/* Navigation Bar */
.navbar {
  padding: 0 0 10%;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: "Ubuntu";
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: bold;
}
/* Container section */
#title .container-fluid{
  padding: 3% 15% 5%;
}
.container-fluid{
  padding: 10% 15%;
}
/* Download Buttons */
.downloadbutton {
  margin: 5% 3% 5% 0;
  width: 180px;
}

/* Title Img  */
.imgiphone {
  width: 60%;
  transform: rotate(25deg);
  z-index: 0;
  position: absolute;
  right: 30%;
}

/* Features Section */
#features {
  z-index: 1;
  position: relative;
}

.feature-box {
  padding: 5%;
}

.h3-Features {
  font-weight: bold;
  font-size: 1.4rem;
  color: black;
}

.p-Features {
  color: #8f8f8f;
}

.font-awes-fea {
  color: #ef8172;
  margin-bottom: 1rem;
}

.font-awes-fea:hover {
  color: #ff4c68;
}

/* Testimonials Section */

.carousel-item {
  padding: 10% 15%;
}
.testimonial-text {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimon-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  padding-bottom: 5%;
}

.press-img {
  width: 13%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-h3 {
  font-size: 2rem;
  font-weight: bold;
}

.pricing-h2 {
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .imgiphone {
    width: 50%;
    transform: rotate(0);
    position: static;
  }
}

/* Call to Action Section */

.download-button-cta {
  margin: 5% 3% 5% 0;
  width: 180px;
  margin-top: 5%;
  margin-bottom: 10%;
}

/* Footer */
#footer {
  margin-top: 20%;
}

.p-footer {
  font-size: 1.8rem;
  font-weight: bold;
  color: gray;
}

.font-aw-footer {
  margin: 20px 10px;
}
